.text-set-1 {
  font-family: "Abril Fatface", cursive;
}

.text-set-2 {
  font-family: Dosis, sans-serif;
}

.opening-box {
  border-top: 5px solid #000;
  border-bottom: 5px solid #000;
}

.sun-background-color {
  background-color: #febb0b;
  color: #fff;
}

.moon-background-color {
  background-color: #153a5a;
  color: #fff;
}

@media only screen and (min-width: 38em) {

  .opening-box {
    color: #fff;
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
  }

  .closing-box {
    color: #fff;
    border: 10px solid #fff;
  }

  .citation {
    color: #fff;
  }

}
